// Place all the styles related to the builds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#build-info-head {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#build-info {
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.col-started-at {
	float: left;
	width: 40%;
}

.col-trigger-mode {
	float: left;
	width: 30%;
}

.col-status {
	float: left;
	width: 15%;
}

.col-revision {
	float: left;
	width: 15%;
}