// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#build-list-head {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#build-list {
	list-style-type: none;
	background-color: #888888;
	padding: 0pt;
	margin: 0pt;
}

.build-list-item {
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.in-progress {
	background-color: #FFF5CC;
	color: #5E5737;
}
.in-progress:hover {
	background-color: #EDE0A8;
}

.failed {
	background-color: #FFCCCC;
	color: #8C5A5A;
}
.failed:hover {
	background-color: #F7B0B0;
}

.successful {
	background-color: #E9FFC7;
	color: #55663C;
}
.successful:hover {
	background-color: #C6ED8C;
}